<!DOCTYPE html>
<html lang="en">
  <head>
      
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{seo.title}}</title>
    
    <link rel="canonical" href="{{seo.url}}">
    <meta name="description" content="{{seo.description}}">
    <meta property="og:title" content="{{seo.title}}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="{{seo.url}}">
    <meta property="og:description" content="{{seo.description}}">
    <meta property="og:image" content="{{seo.image}}">
    <meta name="twitter:card" content="summary">

    <link rel="stylesheet" href="/style.css" />

    {{#if color}} 
    <style>
      .title {
        color: {{color}};
      }
    </style>
    {{/if}}    
  </head>
  <body>
    <div class="wrapper">
      <div class="content" role="main">
        
        <h1 class="title">Hello Node!</h1>
        
        {{#if color}}
          <p class="color-info">
            Now available in <b>{{color}}</b>!
          </p>
        {{/if}}  
        
        {{#if colorError}}
          <p class="color-info">
            
            Hmm. Couldn't find <b>"{{colorError}}"</b>. 
            <a href="?randomize=go">Try a random color?</a>
          </p>
        {{/if}}
        
        <div class="color-form">
          
          {{#unless colorError}}
            {{#unless color}}
          
            <p>
              Learn about communication with a server by talking about color.
            </p>
            {{/unless}}
          {{/unless}}
          
          
          <form class="color-search" method="post">
              <label for="color">
                
                {{#if color}}
                  Try another color?<br>
                {{else}}
                  What's your favorite color?<br>
                {{/if}}
                <input id="color" name="color" required="required" type="text">
              </label>
            
            <button type="submit">Submit</button>
          </form>
          
         
          Can't decide? <a href="?randomize=go">Use a random color!</a>
        </div>
        
        <div class="illo-container">
          <img src="https://cdn.glitch.com/c62efef6-1e75-45cf-b248-afeccdda9477%2Fillustration.svg?v=1618196069568" class="illustration" alt="Node logo" />
        </div>
        
        <div class="instructions">
          <h2>
            Using this project
          </h2>
          <p>
            This is the Glitch <strong>Hello Node</strong> project. You can
            use it to build your own app. Check out README.md in the editor for
            more info and next steps you can take!
          </p>
        </div>
        
      </div>
    </div>
    <footer class="footer">
      <div class="links"></div>
      <a
        class="btn--remix"
        target="_top"
        href="https://glitch.com/edit/#!/remix/glitch-hello-node"
      >
        <img
          src="https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FLogo_Color.svg?v=1618199565140"
          alt=""
        />
        Remix on Glitch
      </a>
    </footer>
  </body>
</html>
